<include file="Index/header"/>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="banner">
          <div class="banner-left">
            <a target="_blank" href="/index.php?c=detail&id={$result['topPicNews'][0]['news_id']}"><img width="670"
                                                                                                        height="360"
                                                                                                        src="{$result['topPicNews'][0]['thumb']}"
                                                                                                        alt=""></a>
          </div>
          <div class="banner-right">
            <ul>
              <li>
                <a target="_blank" href="index.php?c=detail&id={$result['topSmailNews'][0]['news_id']}"><img width="150"
                                                                                                             height="113"
                                                                                                             src="{$result['topSmailNews'][0]['thumb']}"
                                                                                                             alt=""></a>
              </li>
              <li>
                <a target="_blank" href="index.php?c=detail&id={$result['topSmailNews'][0]['news_id']}"><img width="150"
                                                                                                             height="113"
                                                                                                             src="{$result['topSmailNews'][1]['thumb']}"
                                                                                                             alt=""></a>
              </li>
              <li>
                <a target="_blank" href="index.php?c=detail&id={$result['topSmailNews'][0]['news_id']}"><img width="150"
                                                                                                             height="113"
                                                                                                             src="{$result['topSmailNews'][2]['thumb']}"
                                                                                                             alt=""></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="news-list">
          <volist name="result['listNews']" id="vo">
          <dl>
            <dt><a target="_blank" href="index.php?c=detail&id={$vo.news_id}">{$vo.title}</a></dt>
            <dd class="news-img">
              <a target="_blank" href="index.php?c=detail&id={$vo.news_id}"> <img width="200" height="120"
                                                                                  src="{$vo.thumb}" alt=""></a>
            </dd>
            <dd class="news-intro">
              {$vo.description}
            </dd>
            <dd class="news-info">
              {$vo.keywords} <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span> 阅读(0)
            </dd>
          </dl>
          </volist>
        </div>
      </div>
      <!--网站右侧信息-->
      <include file="Index/right"/>
    </div>
  </div>
</section>
</body>
</html>